<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CircleMenu</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
</head>
<body class="bg-[#483D8B] w-screen h-screen flex justify-center items-center">
    <div class="flex flex-col items-center gap-4">
        <input type="checkbox" id="check" class="" placeholder="Checkbox">
        <div class="container relative">
            <label for="check" class="relative cursor-pointer">
                <i class="uil uil-plus" id="active"></i>
            </label>
            <div class="circle-menu">
                <span style="--i:1"><i style="--j:1" class="uil uil-accessible-icon-alt"></i></span>
                <span style="--i:2"><i style="--j:2" class="uil uil-dumbbell"></i></span>
                <span style="--i:3"><i style="--j:3" class="uil uil-plane-fly"></i></span>
                <span style="--i:4"><i style="--j:4" class="uil uil-18-plus"></i></span> 
                <span style="--i:5"><i style="--j:5" class="uil uil-toilet-paper"></i></span>
                <span style="--i:6"><i style="--j:6" class="uil uil-sperms"></i></i></span>
                <span style="--i:7"><i style="--j:7" class="uil uil-smile-dizzy"></i></span>
                <span style="--i:8"><i style="--j:8" class="uil uil-film"></i></span>
            </div>
        </div>
    </div>
    
</body>
</html>